@page "/tenants/industry/{IndustryId:int}"
@using Occumetric.Shared
@inject HttpClient _httpClient
<h3>Tenants</h3>

<p><b>@_errorMessage</b></p>
<a href="/tenants/create" class="btn btn-primary">Create Tenant</a>
<h3>Result</h3>
<button @onclick="FetchData">Fetch Data</button>
@if (_tenantViewModels?.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Jobs</th>
                <th>Master Tasks</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in _tenantViewModels)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href=@($"/jobs/tenant/{item.Id}")>Jobs</a>
                    </td>
                    <td>
                        <a href=@($"/masterTasks/industry/{item.Industry.Id}")>Master Tasks</a>
                    </td>
                    <td>
                        <a href="@($"/tenants/update/{item.Id}")" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no records to show.</p>
}
@code {
    [Parameter] public int IndustryId { get; set; }
    private List<TenantViewModel> _tenantViewModels { get; set; }
    private string _errorMessage = "";
    [CascadingParameter] Globals Globals { get; set; }

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        _tenantViewModels = new List<TenantViewModel>();
        await FetchData();

    }
    private async Task FetchData()
    {
        try
        {
            Globals.IndustryId = IndustryId;
            _tenantViewModels = await _httpClient.GetFromJsonAsync<List<TenantViewModel>>($"api/v1/tenants/industry/{IndustryId}");
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine("Exception");
            Console.WriteLine(e.Message);
            _errorMessage = e.Message;

        }
    }
}
