@page "/taskCategories/update/{Id:int}"
@using Occumetric.Shared
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
<h3>Update Task Category</h3>

<EditForm Model="_updateTaskCategoryDto" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="_updateTaskCategoryDto.Name">Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="_updateTaskCategoryDto.Name"></InputText>
            <ValidationMessage For="@(() => _updateTaskCategoryDto.Name)" />
        </div>
        Industry:
        <b>
            @_ivm.Name
        </b>
    </div>
    <div>
    </div>
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <br />
    <br />
    <b>@_errorMessage</b>
    <br />
</EditForm>
@code {
    [Parameter] public int Id { get; set; }
    private UpdateTaskCategoryDto _updateTaskCategoryDto { get; set; } = new UpdateTaskCategoryDto();
    private IndustryViewModel _ivm = new IndustryViewModel();
    private string _errorMessage = "error";
    [CascadingParameter] Globals Globals { get; set; }
    private async void OnValidSubmit()
    {
        var response = await _httpClient.PutAsJsonAsync<UpdateTaskCategoryDto>("api/v1/taskCategory", _updateTaskCategoryDto);
        if (response.IsSuccessStatusCode)
        {
            _navigationManager.NavigateTo($"/taskCategories/industry/{_updateTaskCategoryDto.IndustryId}");
        }
        else
        {
            var content = response.Content.ReadFromJsonAsync<ErrorResult>().Result;
            _errorMessage = content.Result;
            StateHasChanged();
        }
    }
    protected async override void OnInitialized()
    {
        base.OnInitialized();
        var vm = await _httpClient.GetFromJsonAsync<TaskCategoryViewModel>($"api/v1/taskCategory/{Id}");
        _updateTaskCategoryDto = new UpdateTaskCategoryDto
        {
            Id = vm.Id,
            Name = vm.Name,
            IndustryId = vm.IndustryId,
        };
        _ivm = vm.IndustryViewModel;
        StateHasChanged();

    }
}
